<div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="aviaoForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutAlign="center center">            
        <mat-form-field appearance="outline" class="form-group" hideRequiredMarker=true>
            <mat-label for="modelo">Modelo</mat-label>
            <input matInput type="string"  formControlName="modelo" class="form-control" required autofocus/>        
        </mat-form-field>           
        <mat-form-field appearance="outline" class="form-group" hideRequiredMarker=true>
            <mat-label for="marca">Marca</mat-label>
            <input matInput type="string"  formControlName="marca" class="form-control" required/>
        </mat-form-field>        
        <mat-form-field appearance="outline" class="form-group" hideRequiredMarker=true>
            <mat-label>Em Vôo</mat-label>
            <select formControlName="status" matNativeControl required>
                <option value="Sim">Sim</option>
                <option value="Não">Não</option>
            </select>
        </mat-form-field>
        <button mat-button color=primary type="submit">ENVIAR</button>
        <button mat-button color=warn (click)="onCancel()">CANCELAR</button>
    </form>
</div>