<h2>Aviões</h2>
<div *ngIf="logged" class="add-search" fxLayout="row" fxLayoutAlign="space-between center">
  <button *ngIf="!cadastrar" mat-button color=primary (click)="toggleCadastrar()">+</button>
  <div *ngIf="cadastrar">
    <app-cadastrar-aviao (feedback)=feedback($event)></app-cadastrar-aviao>
  </div>
  <form fxLayoutAlign="end center" fxLayout="row">      
    <mat-form-field class="searchbox" appearance="outline">
      <mat-label for="modelo">Pesquisar</mat-label>
      <input matInput>        
    </mat-form-field>
    <button class="botao" type="submit" mat-button color=primary>
      <mat-icon>search</mat-icon>
    </button>      
  </form> 
</div>   
<mat-table class="avioes-table mat-elevation-z2" [dataSource]="avioes">
  <ng-container matColumnDef="aviaoId">
    <mat-header-cell *matHeaderCellDef>Nº</mat-header-cell>
    <mat-cell *matCellDef="let aviao">{{aviao.id}}</mat-cell>
  </ng-container>    
  <ng-container matColumnDef="modelo">
    <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
    <mat-cell *matCellDef="let aviao">{{aviao.modelo}}</mat-cell>
  </ng-container>        
  <ng-container matColumnDef="marca">
    <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
    <mat-cell *matCellDef="let aviao">{{aviao.marca}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let aviao">{{aviao.status}}</mat-cell>
  </ng-container>     
  <ng-container matColumnDef="acoes">
    <mat-header-cell  *matHeaderCellDef>Ações</mat-header-cell>
    <mat-cell *matCellDef="let aviao" >
      <button mat-button color=warn [routerLink]="['/avioes/editar/', aviao.id]">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button color=accent (click)="onDelete(aviao.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>            
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>          
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>         
</mat-table>  
<mat-paginator class="paginator mat-elevation-z2" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>   